<h1>Create Your Profile</h1>

<%= form_tag user_info_index_path do %>
  <div>
    <%= label_tag 'f_name', 'First Name' %><br>
    <%= text_field_tag 'f_name' %>
  </div>

  <div>
    <%= label_tag 'l_name', 'Last Name' %><br>
    <%= text_field_tag 'l_name' %>
  </div>

<div>
    <%= label_tag 'avion_batch', 'Batch #' %><br>
    <%= number_field_tag 'avion_batch' %>
  </div>

<div>
    <%= label_tag 'github_id', 'Github #' %><br>
    <%= text_field_tag 'github_id' %>
  </div>

<div>
    <%= label_tag 'linkedin_link', 'LinkedIn' %><br>
    <%= text_field_tag 'linkedin_link' %>
  </div>


  <div>
    <%= submit_tag 'Create Profile' %>
  </div>

<% end %>