<div class='container mt-5'>

    <div class="py-3 text-center">  
        <h2>Add New Project</h2>
    </div>

<%= form_with model: @project do |form| %>
<div class="row g-3 mb-5">
  <div class="col-6">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
    <% @project.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="col-6">
    <%= form.label :tech, class: 'form-label' %>
    <%= form.text_field :tech, class: 'form-control' %>
    <% @project.errors.full_messages_for(:tech).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

    <div class="col-12">
    <%= form.label :overview, class: 'form-label' %>
    <%= form.text_field  :overview, class: 'form-control' %>
    <% @project.errors.full_messages_for(:overview).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="col-4">
    <%= form.label :github_link, class: 'form-label' %>
    <%= form.text_field :github_link, class: 'form-control' %>
    <% @project.errors.full_messages_for(:github_link).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

    <div class="col-4">
    <%= form.label :deploy_link, class: 'form-label' %>
    <%= form.text_field :deploy_link, class: 'form-control' %>
    <% @project.errors.full_messages_for(:deploy_link).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

    <div class="col-4">
    <%= form.label :image_link, class: 'form-label' %>
    <%= form.text_field :image_link, class: 'form-control' %>
    <% @project.errors.full_messages_for(:image_link).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="col text-center mt-5">
            <%= form.submit class: 'w-50 btn btn-success btn-lg' %>
    </div>
  </div>
<% end %>

</div>