<div class='container mt-5'>

    <div class="py-3 text-center">  
        <h2>"<%= @project.title %>" Details</h2>
    </div>

    <%= form_tag do %>
        <div class="row g-3 mb-5">

            <div class="col-6">
                <%= label_tag 'title', 'Project Title', class: 'form-label' %>
                <%= text_field_tag 'title', @project.title, class: 'form-control', required: true, readonly: true %>
            </div>
            
            <div class="col-6">
                <%= label_tag 'tech', 'Tech', class: 'form-label' %>
                <%= text_field_tag 'tech', @project.tech, class: 'form-control', required: true, readonly: true %>
            </div>

            <div class="col-4">
                <%= label_tag 'github_link', 'Source Link', class: 'form-label' %>
                <%= text_field_tag 'github_link', @project.github_link, class: 'form-control', required: true, readonly: true %>
            </div>

            <div class="col-4">
                <%= label_tag 'deploy_link', 'Live Link', class: 'form-label' %>
                <%= text_field_tag 'deploy_link', @project.deploy_link, class: 'form-control', required: true, readonly: true  %>
            </div>

            <div class="col-4">
                <%= label_tag 'image_link', 'Image Link', class: 'form-label' %>
                <%= text_field_tag 'image_link', @project.image_link, class: 'form-control', required: true, readonly: true  %>
            </div>

            <div class="col-6 text-center mt-5">
                <%= link_to "Edit Project Details", edit_project_path(@project), class: 'w-75 btn btn-success btn-lg' %>
            </div>

            <div class="col-6 text-center mt-5">
                <%= link_to "Delete Project", project_path(@project), method: :delete, data: { confirm: "Are you sure?" }, class: 'w-75 btn btn-danger btn-lg' %>
            </div>

        </div>
    <% end %>

    <hr class="my-4">

    <div class="py-3 text-center">  
        <h2>Project Features</h2>
    </div>

    <%= form_tag do %>
        <% @project.project_features.each do |feature| %>
            <%= text_field_tag 'description', feature.description, class: 'form-control mb-3', required: true, readonly: true  %>
        <% end %>
    <% end %>

    <%= form_with model: [ @project, @project.project_features.build ] do |form| %>
        <div class="row g-3 mb-5">

            <div class="col-12">
                <%= form.text_field :description, placeholder: 'Enter project feature here', class: 'form-control' %>
            </div>

            <div class="col-12 text-center mt-5">
                <%= form.submit 'Add feature', class: 'w-50 btn btn-primary btn-lg' %>
            </div>
            
        </div>
    <% end %>
</div>